<h2><!-- Footer -->
<footer class="page-footer font-small blue">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://hcmus_dev.com/"> hcmus_dev.com</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer --></h2>